%br
%center
  %h1 Edit your profile and political stances.
%br
.col-md-7#edit_profile_page
  .whitecard#citizen_personal_info
    %form
      %h3 Personal Info
      .row
        .col-md-6
          = text_field_tag :first_name, @citizen.first_name, 
            class: "form-control signup-field", placeholder: "First Name"
        .col-md-6
          = text_field_tag :last_name, @citizen.last_name, 
            class: "form-control signup-field", placeholder: "Last Name"
      .row
        .col-md-4
          = text_field_tag :birthday, @citizen.birthday,
            class: "form-control signup-field", id: "date_picker", 
            placeholder: "Birthday (mm/dd/yyyy)"
      .row
        .col-md-6
          = select_tag :gender, 
            options_for_select(@citizen.personal_info_form.genders, @citizen.gender),
            include_blank: "Gender",
            class: ["form-control", "signup-field"],
            placeholder: "Gender"
        .col-md-6
          = select_tag :ethnicity, 
            options_for_select(@citizen.personal_info_form.ethnicities, 
              @citizen.ethnicity),
            include_blank: "Ethnicity",
            class: ["form-control", "signup-field"],
            placeholder: "Ethnicity"
      .row
        .col-md-6
          = select_tag :party,
            options_for_select(@citizen.personal_info_form.parties, @citizen.party),
            include_blank: "Political Party",
            class: ["form-control", "signup-field"],
            placeholder: "Party"
        .col-md-6
          = select_tag :education,
            options_for_select(@citizen.personal_info_form.education_levels, 
              @citizen.education),
            include_blank: "Education",
            class: ["form-control", "signup-field"],
            placeholder: "Education"
      .row
        .col-md-6
          = select_tag :religion,
            options_for_select(@citizen.personal_info_form.religions, 
              @citizen.religion),
            include_blank: "Religion",
            class: ["form-control", "signup-field"],
            placeholder: "Religion"
        .col-md-6
          = select_tag :relationship,
            options_for_select(@citizen.personal_info_form.relationships, 
            @citizen.relationship),
            include_blank: "Relationship",
            class: ["form-control", "signup-field"],
            placeholder: "Relationship"
      .row
        .col-md-12
          %center
            = text_area_tag :biography, @citizen.bio,
              rows: 5,
              class: "form-control", 
              placeholder: "100 words about yourself"
    %hr
    %center
      = button_tag "Update", class: "btn btn-primary", id: "update_personal_info",
        data: { id: @citizen.id }
  .whitecard
    %form
      %h3 Contact Info
      .row
        .col-md-6
          %input.form-control.signup-field{placeholder: "Phone"}
        .col-md-6
          %input.form-control.signup-field{placeholder: "Twitter"}
      %input.form-control.signup-field{placeholder: "Address"}
      .row
        .col-md-6
          %input.form-control.signup-field{placeholder: "City"}
        .col-md-2
          %select.form-control.signup-field{name: "State"}
            %option{placeholder: 'true'} State
        .col-md-4
          %input.form-control.signup-field{placeholder: "Zip Code"}
      %hr
    %center
      %button.btn.btn-primary Update


  .whitecard
    %a{name: "stances"}
    %h3 Edit Saved Stances
    %hr
    - if @stances.has_stances?
      = render "stances", presenter: @stances
    - else
      You haven't saved any stances yet.
      = link_to "Click here add your political stances", stances_path

.col-md-5
  .whitecard
    .row#profile_pic_upload
      = form_for @citizen, url: citizen_path(@citizen) do |f|
        .col-md-5
          %h3 Profile Pic
          %hr
          = render "profile_pic_upload", citizen: @citizen, f: f
        .col-md-7
          %center
            %h3 Username
            %hr
            %input.form-control.signup-field{placeholder: "@#{current_user.username}"}
            %br
            %center= f.submit "Update", class: ["btn", "btn-primary", "pull-right"]

  .whitecard
    %h3 Privacy Settings
    %hr
    %span
      By default, we don't publicly share any of your personally identifiable
      information. Some data is sent to third parties, but it never contains
      your name, contact information, or anything that would indicate who you are.
      To allow other users on matchVote to see more about you and your political
      views, you'll need to edit your Privacy Settings.
    %br
    %br
    %center
      .btn.btn-primary Edit Privacy

  .whitecard
    %h3 Edit Account Settings
    %hr
    %span Change email and password, or delete your account.
    %br
    %br
    %center= link_to "Edit Account", edit_user_registration_path,
      class: "btn btn-primary"
