.row
  .col-md-8
    .profile_breadcrumbs
      &nbsp

    .whitecard
      = image_tag "http://bradhankins.com/wp-content/uploads/2014/10/brad.jpg",
          class: "profile_pic", title: "@#{current_user.username}"
      .profile_name
        = render "edit_button"
        %h2 Brad Hankins
        %hr
        %strong @#{current_user.username}
        %br
        Unaffiliated Voter from NC
      .profile_bio
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
        ligula eget dolor. Aenean massa. Cin sociis natoque penatibus et magnis 
        dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies 
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
        dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. 
        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean 
        leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam 
        lorem ante, dapibus in, viverra quis, feugiat.
    .whitecard
      .btn.btn-default.btn-xs.pull-right
        %span.glyphicon
        Edit Stances
      %h3 Political Stances
    .whitecard
      .btn.btn-default.btn-xs.pull-right
        %span.glyphicon
        Edit Monkeys
      %h3 Monkeys
  .col-md-4
    .well.first_widget
      %center
        %h4 Follows 11 Public Representatives
        %hr
        = render "devise/sessions/landingpics"
    .well.widget
      %center
        %h4 Invite a friend to join matchVote
      .col-md-10.col-md-offset-1
        %input.form-control.signup-field{placeholder: "Name"}
        %input.form-control.signup-field{placeholder: "Email"}
      %center
        .btn.btn-primary
          %span.glyphicon.glyphicon-share-alt
          Invite
