.container
  .row
    .col-md-8
      .profile_breadcrumbs
        &nbsp

      .whitecard
        = image_tag @citizen.profile_pic_url,
          class: "profile_pic", title: "@#{current_user.username}"
        .profile_name
          = render "edit_buttons", citizen: @citizen if @policy.edit?
          %h2= @citizen.name
          %hr
          %strong @#{@citizen.username}
          %br
          = @citizen.subtitle
        .profile_bio= @citizen.bio

      - if @citizen.display_all_stances?
        .whitecard#display_citizen_stances= render "citizen_stances",
          stances: @stances, citizen: @citizen, policy: @policy

    .col-md-4
      .well.first_widget
        %center
          %h4 Follows 11 Public Representatives
          %hr
          = render "devise/sessions/landingpics"
      .well.widget
        %center
          %h4 Invite a friend to join matchVote
        .col-md-10.col-md-offset-1
          %input.form-control.signup-field{placeholder: "Name"}
          %input.form-control.signup-field{placeholder: "Email"}
        %center
          .btn.btn-primary
            %span.glyphicon.glyphicon-share-alt
            Invite
