.row
  .col-md-8
    .profile_main
      = image_tag "http://matchvote.com/wp-content/uploads/2015/01/obama.png", class: "profile_pic"
      .profile_name
        %h2
          = @rep.full_name
        = @rep.title.capitalize
        %br
        = @rep.party.capitalize



  .col-md-4
    .well.approval_widget
      %h4
        Approval Rating

    .well.contact_widget
      %h4
        Connect with
        = @rep.first_name

    .well.donor_widget
      %h4
        Top Donors
