.row
  .col-md-8
    .profile_breadcrumbs
      =link_to root_path do
        Directory
      >
      =link_to "/?=Federal" do
        Federal
      >
      =link_to "/?=Executive" do
        Executive
      >
      =link_to "#" do
        #{@rep.government_role}
      >
      =link_to "#" do
        #{@rep.nickname_or_first_name} #{@rep.last_name}

    .whitecard
      = image_tag @rep.profile_image_url,
        class: "profile_pic"
      .profile_name
        %button.btn.btn-md.btn-default.pull-right
          Follow #{@rep.nickname_or_first_name}.capitalize
        %h2
          = @rep.full_name
        = @rep.title
        %br
        = @rep.party
        | #{@rep.state}
      .profile_bio
        %p
          = @rep.biography
        %button.btn.btn-sm.btn-default
          Read Full Bio

    .whitecard
      %h2 How your views compare
      %br
      %table.table.table-hover
        %tr
          %td.col-md-6
            %strong Economy
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Immigration
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Gun Control
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Healthcare
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Partisanship
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Same-sex Marriage
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Drugs
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Voting
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Environment
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances
        %tr
          %td
            %strong Foreign Policy
          %td.col-md-5= "#{Random.rand(100)}% match"
          %td
            %button.btn.btn-xs.btn-default View Stances

    .whitecard
      %h2 Recent News

    .whitecard
      %h2 #{@rep.nickname_or_first_name}'s Demographics
      %br
      %table.table.table-hover
        %tr
          %td.col-md-6 Gender
          %td #{@rep.gender}
        %tr
          %td Birthday
          %td #{@rep.birthday}
        %tr
          %td Religion
          %td #{@rep.religion}
        %tr
          %td Orientation
          %td #{@rep.orientation}

  .col-md-4
    .well.firstwidget
      %h3
        = "#{Random.rand(100)}%"
        Approval Rating
      %div
        %i Based on #{number_with_delimiter(Random.rand(10000), delimiter: ',')} citizen ratings
      %br
      %button.btn.btn-danger
        Rate #{@rep.nickname_or_first_name}

    .well.widget
      %h3
        Connect with #{@rep.nickname_or_first_name}
      - @rep.contact.postal_addresses.each do |address|
        %span= address.full_street
        %br
        %span= address.city_state_zip
        %br
      %br
      - @rep.contact.emails.each do |email|
        = mail_to email, target: "_blank" do
          %span= email
        %br
      %br
      - @rep.contact.phone_numbers.each do |number|
        %strong Phone:
        = number
        %br
      %br
      %button.btn.btn-default.btn-sm
        Facebook
      %button.btn.btn-default.btn-sm
        Twitter
      %button.btn.btn-default.btn-sm
        YouTube

    .well.widget
      %h3 Top Donors
      %br
      %table.table.table-striped
        %tr
          %td.col-md-6 Donor 1
          %td.col-md-6 $1,500,000
        %tr
          %td.col-md-6 Donor 2
          %td.col-md-6 $1,000,000
        %tr
          %td.col-md-6 Donor 3
          %td.col-md-6 $750,000



    .well.widget
      %h3 Interest Group Ratings
