.comment{class: comment.reply_level_class(reply),
         style: comment.displayed?(reply),
         data: { id: comment.id, reply_ids: comment.reply_ids }}
  = comment.text
  %hr
  .commentdetails
    %ul
      %li
        = link_to citizen_path(comment.user), style: "text-decoration:none" do
          = image_tag comment.user_profile_pic_url,
            class: "img", title: comment.username
      %li
        %strong= comment.username
      %li from DE
      %li
        = comment.created_at_date
        @
        = comment.created_at_time
      %li &nbsp
      %li
        .btn.btn-xs.btn-default.report-comment Report
        - if comment.has_replies?
          .btn.btn-xs.btn-default.show-replies
            Show Replies
          .btn.btn-xs.btn-default.hide-replies{style: "display:none"}
            Hide Replies
        .btn.btn-xs.btn-default.like-button{class: ("label-info" if comment.liked?(current_user))}
          = comment.likes
          .glyphicon.glyphicon-heart
        .btn.btn-xs.btn-black
          Close Reply
    .writereply
      .row
        .col-md-10
          .form-group
            %textarea.form-control
              :preserve
                Reply to Joe Biden
        .col-md-2
          %center
            .btn.btn-sm.btn-primary
              Submit
- comment.comments.each do |comment_reply|
  = render "articles/comments/comment",
    comment: CommentPresenter.new(comment_reply),
    reply: reply + 1
