.newscard{id: article.id}
  .row
    .btn-group-vertical.news-vote-btn.pull-right
      .newsworthiness.btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title: "Newsworthy", type: "increment"}
      .news-vote-count= article.newsworthiness_count
      .newsworthiness.btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title: "Not Newsworthy", type: "decrement"}
    .news-title
      = link_to article.url, target: "_blank" do
        %h3= article.title
      .news-author
        = article.authored_by
        %span.news-date= article.published
      %hr
    .news-summary
      .col-md-7
        .well.featured_image_trigger
          =image_tag "https://media3.s-nbcnews.com/j/newscms/2016_20/1541946/160518-trump-portrait-jsw-145p_1c226e6636be4572928409c157f0d50a.nbcnews-ux-2880-1000.jpg",
            class: "article_featured_image"
          %ul
            - article.summary_points.each do |sp|
              %li= sp
        %center
          = link_to article.url, target: "_blank", style: "text-decoration: none" do
            .btn.btn-sm.btn-danger= article.read_time
          .btn.btn-sm.btn-default 583 Comments
          .btn.btn-sm.btn-default
            .glyphicon.glyphicon-share{title: "Share"}
          .btn.btn-sm.btn-default.bookmark{class: ("label-info" if article.bookmarked?(current_user))}
            .glyphicon.glyphicon-bookmark{title: "Bookmark Article"}
      .col-md-5
        .news-mentions
          %center
            %h5 Do you think Mike Pence would make a good President?
            .btn.btn-default.btn-sm
              Support
            = image_tag "http://data.matchvote.com/images/2015/governors/Mike_Pence.png",
              class: "img", title: "Mike Pence"
            .btn.btn-default.btn-sm
              Oppose
          %hr
        .news-topics
          %ul
            - article.top_keywords.each do |keyword|
              %li
                %a= keyword
