.newscard{id: article.id}
  .row
    .btn-group-vertical.news-vote-btn.pull-right
      .newsworthiness.btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title: "Newsworthy", type: "increment"}
      .news-vote-count= article.newsworthiness_count
      .newsworthiness.btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title: "Not Newsworthy", type: "decrement"}
    .news-title
      = link_to article.url, target: "_blank" do
        %h3= article.title
      .news-author
        = article.authored_by
        %span.news-date= article.published
      %hr
    .news-summary
      .col-md-7
        .well.featured_image_trigger
          =image_tag article.top_image_url, class: "article_featured_image"
          %ul
            - article.summary_points.each do |sp|
              %li= sp
        %center
          = link_to article.url, target: "_blank", style: "text-decoration: none" do
            .btn.btn-sm.btn-danger= article.read_time
          .btn.btn-sm.btn-default 583 Comments
          .btn.btn-sm.btn-default
            .glyphicon.glyphicon-share{title: "Share"}
            Share
          .btn.btn-sm.btn-default.bookmark{class: ("label-info" if article.bookmarked?(current_user))}
            .glyphicon.glyphicon-bookmark{title: "Bookmark Article"}
            Bookmark
      .col-md-5
        .news-mentions
          %center
            %h5 Do you think Mike Pence would make a good President?
            .btn.btn-default.btn-sm
              Support
            = image_tag "http://data.matchvote.com/images/2015/governors/Mike_Pence.png",
              class: "img", title: "Mike Pence"
            .btn.btn-default.btn-sm
              Oppose
          %hr
        .news-topics
          %ul
            - article.top_keywords.each do |keyword|
              %li
                %a= keyword
  .news-comments
    .well
      .writecomment
        .row
          .col-md-10
            .form-group
              %textarea.form-control
                :preserve
                  Upgrade to matchVote Premium to add your comment
          .col-md-2
            %center
              .btn.btn-sm.btn-primary.upgradebtn
                =link_to image_tag(current_user.profile_pic_url, title: "@#{current_user.username}"), path_for_user(current_user), id: "view_profile_link"
                Upgrade
      %ul
        %li
          %strong
            1,427 Comments
        %li
          Comments will be locked in 45 hours
        %li
          %select.form-control.signup-field
            %option Sort by Most Loved
            %option Sort by Most Replies
            %option Sort by Newest
      .comment
        The Big Tent had become big enough to enclose an idealogical war zone. Now the fighting is spilling outside and everyone nearby is getting sucked into the fight and hurt in the process. All that seems to matter to many is that their side is the eventual winner. I don't know which option is worse. The government grinding to a halt as this fight plays out, or one side 'winning' and railroading their fever dreams through Congress and the White House unopposed.
        %hr
        .commentdetails
          %ul
            %li
              = image_tag "http://data.matchvote.com/images/2015/highprofile/Barack_Obama.png",
                class: "img", title: "Barack Obama"
            %li
              %strong Barack Obama
            %li from DC
            %li
              = Time.now.strftime("%m/%d/%y")
              @
              = Time.now.strftime("%l:%M%p")
            %li &nbsp
            %li
              .btn.btn-xs.btn-default
                Report
              .btn.btn-xs.btn-default
                Hide Replies
              .btn.btn-xs.btn-default
                37
                .glyphicon.glyphicon-heart
              .btn.btn-xs.btn-primary
                Reply
      .comment.reply
        It's like the end of "Jurassic Park," when the tyrannosaurus rescues the heroes from the velociraptors.
        %hr
        .commentdetails
          %ul
            %li
              = image_tag "http://data.matchvote.com/images/2015/highprofile/Larry_Lessig.png",
                class: "img", title: "Larry Lessig"
            %li
              %strong Larry Lessig
            %li from MA
            %li
              = Time.now.strftime("%m/%d/%y")
              @
              = Time.now.strftime("%l:%M%p")
            %li &nbsp
            %li
              .btn.btn-xs.btn-default
                Report
              .btn.btn-xs.btn-default
                4
                .glyphicon.glyphicon-heart
              .btn.btn-xs.btn-primary
                Reply
      .comment.reply2
        If the President and Mr. Ryan are serious about taking on the factions, they will have to confront gerrymandering as that is how the group exercises a disproportionate influence in the House. Good luck with that!
        %hr
        .commentdetails
          %ul
            %li
              = image_tag "http://data.matchvote.com/images/2015/senators/Bernard_Sanders.png",
                class: "img", title: "Bernie Sanders"
            %li
              %strong Bernie Sanders
            %li from VT
            %li
              = Time.now.strftime("%m/%d/%y")
              @
              = Time.now.strftime("%l:%M%p")
            %li &nbsp
            %li
              .btn.btn-xs.btn-default
                Report
              .btn.btn-xs.btn-default
                1
                .glyphicon.glyphicon-heart
              .btn.btn-xs.btn-primary
                Reply
      = render "articles/comment"
      %center
        .btn.btn-xs.btn-link View 1,424 More Replies
