.newscard{id: article.id}
  .row
    .btn-group-vertical.news-vote-btn.pull-right
      .newsworthiness.btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title: "Newsworthy", type: "increment"}
      .news-vote-count= article.newsworthiness_count
      .newsworthiness.btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title: "Not Newsworthy", type: "decrement"}
    .news-title
      = link_to article.url, target: "_blank" do
        %h3= article.title
      .news-author
        = article.authored_by
        %span.news-date= article.published
      %hr
    .news-summary
      .col-md-7
        .well.featured_image_trigger
          =image_tag article.top_image_url, class: "article_featured_image"
          %ul
            - article.summary_points.each do |sp|
              %li= sp
        %center
          = link_to article.url, target: "_blank", style: "text-decoration: none" do
            .btn.btn-sm.btn-danger= article.read_time
          .show-comments.btn.btn-sm.btn-default
            = article.comments.size
            Comments
          .hide-comments.btn.btn-sm.btn-black{style: "display:none"}
            Close Comments
          .btn.btn-sm.btn-default
            .glyphicon.glyphicon-share{title: "Share"}
            Share
          .btn.btn-sm.btn-default.bookmark{class: ("label-info" if article.bookmarked?(current_user))}
            .glyphicon.glyphicon-bookmark{title: "Bookmark Article"}
            Bookmark
      .col-md-5
        .news-mentions
          %center
            %h5 Do you think Mike Pence would make a good President?
            .btn.btn-default.btn-sm
              Support
            = image_tag "http://data.matchvote.com/images/2015/governors/Mike_Pence.png",
              class: "img", title: "Mike Pence"
            .btn.btn-default.btn-sm
              Oppose
          %hr
        .news-topics
          %ul
            - article.top_keywords.each do |keyword|
              %li
                %a= keyword
  .news-comments{style: "display:none", data: { article_id: article.id }}
    .well
      .writecomment
        .row
          .col-md-10
            .form-group
              %textarea.form-control
                :preserve
                  Upgrade to matchVote Premium to add your comment
          .col-md-2
            %center
              .btn.btn-sm.btn-primary.upgradebtn
                = link_to image_tag(current_user.profile_pic_url, title: "@#{current_user.username}"),
                  path_for_user(current_user),
                  id: "view_profile_link"
                Upgrade
      %ul
        %li
          %strong
            = article.comments.size
            Comments
        %li
          Comments will be locked in 45 hours
        %li
          %select.form-control.signup-field
            %option Sort by Newest
            %option Sort by Most Loved
            %option Sort by Most Replies

      .comments-list
        - article.comments.take(comment_limit).each do |comment|
          = render "comment", comment: CommentPresenter.new(comment), reply: 0
      %center
        .btn.btn-xs.btn-link View 1,424 More Replies
