.container
  .row
    .visible-sm.visible-xs
      .mobilenews-topbar
        %table
          %tr
            %td
              %strong.current-date= current_date
            %td
              %select.form-control.article-filter
                %option{value: 'all'} Show All News
                %option{value: 'followed'} Show Only Followed News
            %td
              %select.form-control.article-sort
                %option{value: 'newest'} Sort by Newest
                %option{value: 'newsworthiness'} Sort by Newsworthiness
                %option{value: 'most_read'} Sort by Most Read
                %option{value: 'comment_count'} Sort by Comment Count

    .col-md-3.hidden-sm
      .news-sidebar#news-feed-presenter
        .news-sort
          %center
            %h5
              Top News for
              %span.current-date= current_date
          %select.form-control.article-filter
            %option{value: 'all'} Show All News
            %option{value: 'followed', disabled: !user_signed_in?} Show Only Followed News
          %select.form-control.article-sort
            %option{value: 'newsworthiness'} Sort by Newsworthiness
            %option{value: 'newest'} Sort by Newest
            %option{value: 'most_read'} Sort by Most Read
            %option{value: 'comment_count'} Sort by Comment Count
        %center
          %br
          %strong &nbsp Past News
          #newsfeed-datepicker
          .btn.btn-sm.btn-default#filter-bookmarks{disabled: !user_signed_in?}
            .glyphicon.glyphicon-bookmark{title: "View Your Bookmarked Articles"}
            %strong &nbsp Bookmarks
          %br
          %br
          .well
            %h5
              Add Filters to Refine Search
            .article_count
              Viewing
              %span#stats-article-count
                = @article_count
              articles from
              = link_to "#{@publisher_count} sources", "https://matchvote.com/publications",
                title: "Where we retrieve news", id: "publishers-link"
              %br
              for
              %span#stats-current-date
                = current_date
                -# Include below only on current day's news
                as of
                - if @articles.first
                  = @articles.first.date_published.strftime("%l:%M %p")

            %hr
            .btn.btn-sm.btn-danger
              %span.glyphicon.glyphicon-plus-sign{title:"Narrow the News"}
              Add Filter
            .btn.btn-sm.btn-default
              %span.glyphicon.glyphicon-minus-sign{title:"Clear All Filters"}
              Clear

    .col-md-9
      %br
      #article-list
        - render_articles(@articles, @comment_limit, @reply_limit).each do |article|
          = article
        = will_paginate @articles, style: "display:none", params: { controller: 'articles', action: 'api_index' }
      .spinner{style: "display:none"}
        .bounce1
        .bounce2
        .bounce3

      .row
        .col-md-8.col-md-offset-4{style: "margin-top:20px"}
          .btn.btn-primary#browse-yesterday
            Browse news from previous day
