.container
  .row
    .visible-sm.visible-xs
      .mobilenews-topbar
        %table
          %tr
            %td
              %strong
                = Date.today.strftime("%B")
                = Time.now.day.ordinalize + ","
                = Time.now.year
            %td
              %select.form-control.article-filter
                %option{value: 'all'} Show All News
                %option{value: 'followed'} Show Only Followed News
            %td
              %select.form-control.article-sort
                %option{value: 'newest'} Sort by Newest
                %option{value: 'newsworthiness'} Sort by Newsworthiness
                %option{value: 'most_read'} Sort by Most Read
                %option{value: 'comment_count'} Sort by Comment Count

    .col-md-3.hidden-sm
      .news-sidebar#news-feed-presenter
        .news-sort
          %center
            %h5
              Top News for
              = Date.today.strftime("%B")
              = Time.now.day.ordinalize + ","
              = Time.now.year
          %select.form-control.article-filter
            %option{value: 'all'} Show All News
            %option{value: 'followed', disabled: !user_signed_in?} Show Only Followed News
          %select.form-control.article-sort
            %option{value: 'newsworthiness'} Sort by Newsworthiness
            %option{value: 'newest'} Sort by Newest
            %option{value: 'most_read'} Sort by Most Read
            %option{value: 'comment_count'} Sort by Comment Count
        %center
          %br
          .btn.btn-sm.btn-default#past-news
            .glyphicon.glyphicon-calendar{title: "View Historical News"}
            %strong &nbsp Past News
          #newsfeed-datepicker{style: "display:none"}
          .btn.btn-sm.btn-default#filter-bookmarks{disabled: !user_signed_in?}
            .glyphicon.glyphicon-bookmark{title: "View Your Bookmarked Articles"}
            %strong &nbsp Bookmarks
          %br
          %br
          .well
            %h5
              Add Filters to Refine Search
            .article_count

            %hr
            .btn.btn-sm.btn-danger
              %span.glyphicon.glyphicon-plus-sign{title:"Narrow the News"}
              Add Filter
            .btn.btn-sm.btn-default
              %span.glyphicon.glyphicon-minus-sign{title:"Clear All Filters"}
              Clear

    .col-md-9
      %br
      #article-list
        - render_articles(@articles, @comment_limit, @reply_limit).each do |article|
          = article
        = will_paginate @articles, style: "display:none", params: { controller: 'articles', action: 'api_index' }
      .spinner{style: "display:none"}
        .bounce1
        .bounce2
        .bounce3

      .row
        .col-md-12.col-md-offset-4{style: "margin-top:20px"}
          .btn.btn-large.btn-info#browse-yesterday
            Browse news from previous day
