.container
  .col-md-3.hidden-sm
    .news-sidebar
      .news-sort
        %center
          %h4
            Top News for
            = Date.today.strftime("%B")
            = Time.now.day.ordinalize + ","
            = Time.now.year
        %select.form-control.signup-field
          %option Show All News
          %option Show News for Followed Reps Only
        %select.form-control.signup-field
          %option Sort News by Highest Rank
          %option Sort News by Newest
          %option Sort News by Most Read
          %option Sort News by Comment Count
      %center
        %br
        .btn.btn-default
          .glyphicon.glyphicon-calendar{title:"View Historical News"}
          %strong &nbsp Past News
        .btn.btn-default
          .glyphicon.glyphicon-bookmark{title:"View Your Bookmarked Articles"}
          %strong &nbsp Bookmarks
        %br
        %br
        .well
          %h5
            Add Filters to Narrow the News
          .article_count
            Viewing 1,734 articles from
            %a{ href: "https://matchvote.com/publications", title: "Where we retrieve news" }
              87 sources
            %br
            for
            = Date.today.strftime("%B")
            = Time.now.day.ordinalize + ","
            = Time.now.year
            -# Include below only on current day's news
            as of
            = Time.now.strftime("%l:%M%p")

          %hr
          .btn.btn-danger
            %span.glyphicon.glyphicon-plus-sign{title:"Narrow the News"}
            Add Filter
          .btn.btn-default
            %span.glyphicon.glyphicon-minus-sign{title:"Clear All Filters"}
            Clear Filters

  .col-md-9
    %br
    #article-list
      - @articles.each do |article|
        = render "newscard",
          article: article,
          comment_limit: @comment_limit,
          reply_limit: @reply_limit

