.container
  .row
    .visible-sm.visible-xs
      .mobilenews-topbar
        %table
          %tr
            %td
              %strong
                = Date.today.strftime("%B")
                = Time.now.day.ordinalize + ","
                = Time.now.year
            %td
              %select.form-control
                %option Show All News
                %option Show Only Followed News
            %td
              %select.form-control
                %option Sort by Newsworthiness
                %option Sort by Newest
                %option Sort by Most Read
                %option Sort by Comment Count


    .col-md-3.hidden-sm
      .news-sidebar#news-feed-presenter
        .news-sort
          %center
            %h5
              Top News for
              = Date.today.strftime("%B")
              = Time.now.day.ordinalize + ","
              = Time.now.year
          %select.form-control
            %option Show All News
            %option Show Only Followed News
          %select.form-control#article-sort
            %option{value: 'newsworthiness'} Sort by Newsworthiness
            %option{value: 'newest'} Sort by Newest
            %option{value: 'most_read'} Sort by Most Read
            %option{value: 'comment_count'} Sort by Comment Count
        %center
          %br
          .btn.btn-sm.btn-default
            .glyphicon.glyphicon-calendar{title: "View Historical News"}
            %strong &nbsp Past News
          .btn.btn-sm.btn-default
            .glyphicon.glyphicon-bookmark{title: "View Your Bookmarked Articles"}
            %strong &nbsp Bookmarks
          %br
          %br
          .well
            %h5
              Add Filters to Refine Search
            .article_count
              Viewing 1,734 articles from
              %a{ href: "https://matchvote.com/publications", title: "Where we retrieve news" }
                87 sources
              %br
              for
              = Date.today.strftime("%B")
              = Time.now.day.ordinalize + ","
              = Time.now.year
              -# Include below only on current day's news
              as of
              = Time.now.strftime("%l:%M%p")

            %hr
            .btn.btn-sm.btn-danger
              %span.glyphicon.glyphicon-plus-sign{title:"Narrow the News"}
              Add Filter
            .btn.btn-sm.btn-default
              %span.glyphicon.glyphicon-minus-sign{title:"Clear All Filters"}
              Clear

    .col-md-9
      -# = render "votecard"
      %br
      #article-list
        - render_articles(@articles, @comment_limit, @reply_limit).each do |article|
          = article
      .spinner{style: "display:none"}
        .bounce1
        .bounce2
        .bounce3

= will_paginate @articles, style: "display:none"
