.whitecard{id: article.id}
  %h4= link_to article.title, article_path(article)
  %hr
  .div.pull-right
    = link_to "#{article.comments.count} Comments", article_path(article),
      class: 'btn btn-xs btn-default show-comments'
    .btn.btn-xs.btn-default.share-article
      .glyphicon.glyphicon-share{title: "Share"}
      Share
    .btn.btn-link.share-icons{style: article.share_icons_style, data: {share_article: article.id}}
      = social_share_button_tag(article.social_share_text, desc: article.title)
    .btn.btn-xs.btn-default.bookmark{class: ("label-info" if article.bookmarked?(current_user))}
      .glyphicon.glyphicon-bookmark{title: "Bookmark Article"}
      Bookmark
  %span #{article.authored_by} on #{article.date_published_formatted}
