.container
  .col-md-8
    = render "breadcrumbs", rep: @rep

    .whitecard
      = image_tag @rep.profile_image_url,
        class: "profile_pic"
      = render "edit_button", rep: @rep if policy(@rep).edit?
      %div{data: { role: "biography_container" }}
        .profile_name
          .follow-button-container
            - if current_user.following?(@rep)
              = render "relationships/unfollow_button", followed: @rep
            - else
              = render "relationships/follow_button", followed: @rep
          %h2= @rep.full_name
          %hr
          #{@rep.role}
          - if @rep.status.present?
            | #{@rep.status}
          %br
          #{@rep.party} from #{@rep.state}
        .profile_bio
          %p#short_bio= truncate(@rep.bio, length: 550)
          %p#full_bio{style: "display:none;"}= @rep.bio
          = button_tag "Read Full Bio",
            class: "btn btn-sm btn-default bio_btn",
            data: { behavior: "toggle_bio" }

    .row
      .col-md-8
        %h2 Recent News
      .col-md-4
        %br
        = link_to "Find more news about #{@rep.full_name}", news_path(rep: @rep.slug),
          class: 'btn btn-sm btn-link'
    #truncated-articles
      - @recent_articles.each do |article|
        = render 'truncated_article',
          article: article,
          comment_limit: @comment_limit,
          reply_limit: @reply_limit

  .col-md-4
    .well.first_widget
      %h3
        Connect with #{@rep.nickname_or_first_name}
      %strong #{@rep.role} #{@rep.nickname_or_first_name} #{@rep.last_name}
      - if @rep.contact.address_line1.present?
        %br
        = @rep.contact.address_line1
        %br
        = @rep.contact.address_city_state_zip

      - if @rep.contact.phone_number.present?
        %br
        %span.glyphicon.glyphicon-phone-alt
        = @rep.contact.phone_number

      - if @rep.contact.contact_form
        = button_tag id: "contact_button", class: "btn btn-link" do
          %span.glyphicon.glyphicon-send
          = link_to "Email", @rep.contact.contact_url, target: "_blank"
      %hr
      = link_to "Facebook", @rep.facebook_url, target: "_blank",
        class: "btn btn-default btn-sm"
      = link_to "Twitter", @rep.twitter_url, target: "_blank",
        class: "btn btn-default btn-sm"
      = link_to "YouTube", @rep.youtube_url, target: "_blank",
        class: "btn btn-default btn-sm"

    .well
      %center
        %h4 About #{@rep.full_name}
      %br
      %table.table.table-hover
        %tr
          %td.col-md-5 Gender
          %td= @rep.gender
        %tr
          %td Age
          %td= @rep.age
        %tr
          %td Birthday
          %td= @rep.birthday_formatted
        %tr
          %td Religion
          %td= @rep.religion
        %tr
          %td Orientation
          %td= @rep.orientation
