.container
  .col-md-8
    = render "breadcrumbs", rep: @rep

    .whitecard
      = image_tag @rep.profile_image_url,
        class: "profile_pic"
      = render "edit_button", rep: @rep if policy(@rep).edit?
      %div{data: { role: "biography_container" }}
        .profile_name
          .btn.btn-primary.pull-right
            %span.glyphicon.glyphicon-ok-circle
            Follow
          %h2= @rep.full_name
          %hr
          #{@rep.government_role} | #{@rep.status}
          %br
          #{@rep.party} from #{@rep.state}
        .profile_bio
          %p#short_bio= truncate(@rep.biography, length: 550)
          %p#full_bio{style: "display:none;"}= @rep.biography
          = button_tag "Read Full Bio",
            class: "btn btn-sm btn-default bio_btn",
            data: { behavior: "toggle_bio" }



    .whitecard
      %h2 Recent News

    .whitecard
      %h2 #{@rep.nickname_or_first_name}'s Demographics
      %br
      %table.table.table-hover
        %tr
          %td.col-md-3 Gender
          %td= @rep.gender
        %tr
          %td.col-md-3 Age
          %td= @rep.age
        %tr
          %td Birthday
          %td= @rep.birthday_formatted
        %tr
          %td Religion
          %td= @rep.religion
        %tr
          %td Orientation
          %td= @rep.orientation

  .col-md-4
    .well.first_widget
      %h3
        = "#{Random.rand(100)}%"
        Approval Rating
      %div
        %i Based on #{@rep.citizen_ratings_total} citizen ratings
      %br
      %a.btn.btn-danger
        Rate #{@rep.nickname_or_first_name}
      %a.btn.btn-default
        Read Comments

    -# .profile_tweet
      %span Tweet

    .well.widget
      %h3
        Connect with #{@rep.nickname_or_first_name}
      %strong #{@rep.title} #{@rep.nickname_or_first_name} #{@rep.last_name}
      %br
      - @rep.contact.postal_addresses.each do |address|
        = address.line1
        %br
        = address.city_state_zip
      %br
      - @rep.contact.phone_numbers.each do |number|
        %span.glyphicon.glyphicon-phone-alt
        = number
      - if @rep.contact.contact_url
        = button_tag id: "contact_button", class: "btn btn-link" do
          %span.glyphicon.glyphicon-send
          = link_to "Email", @rep.contact.contact_url, target: "_blank"
      %hr
      = link_to "Facebook", @rep.facebook_url, target: "_blank",
        class: "btn btn-default btn-sm"
      = link_to "Twitter", @rep.twitter_url, target: "_blank",
        class: "btn btn-default btn-sm"
      = link_to "YouTube", @rep.youtube_url, target: "_blank",
        class: "btn btn-default btn-sm"


    .well.widget= render "issue_comparison", issues: @issues
