.row
  .col-md-3.password_reset.col-md-offset-4
    %br
    %h2 Forgot your password?

    = form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :post }) do |f|
      = devise_error_messages!
      %br
      %div= f.email_field :email, autofocus: true, placeholder: "Your Email Address", class: "form-control"
      %br
      %div= f.submit "Email Me Password Reset", class: "btn btn-primary"
    %br
    = render "devise/shared/links"
