.row
  .filter_menu
    .col-md-7
      %h2 Find elected officials to follow
      %h5
        = @filter_count
        elected officials meet your search criteria.
        Add more filters to refine your search
      .well.well-sm.filter-well
        %button.btn.btn-default
          .glyphicon.glyphicon-remove
          Federal

        %button.btn.btn-danger.pull-right
          .glyphicon.glyphicon-plus
          Add Filter
    .col-md-1
    .col-md-4.filter-search
      %input.search-field{type: "text", required: "true",
        value: "Search by name"}
      %button.btn.btn-primary.pull-right.search-btn
        %span.glyphicon.glyphicon-search
      %br
      %br
      %strong
        = select_tag "Sort", options_for_select(@sort_list),
          class: "form-control",
          id: "rep_sorter"

.row
  %div
    - @reps.each do |rep|
      .directory_block
        .row
          = link_to rep_path(rep.slug) do
            = image_tag rep.profile_image_url,
              class: "directory_pic"
        .row
          %h4= rep.full_name
        .row
          = "#{Random.rand(100)}% match"
        .row.directory_block_btns
          = link_to rep_path(rep.slug) do
            %button.btn.btn-sm.btn-default View Profile
          = link_to rep_path(rep.slug) do
            %button.btn.btn-sm.btn-default Follow
        .row
          = if rep.verified == true
            = image_tag "http://data.matchvote.com/images/bluecheck.png",
              class: "verified", title: "Verified Account"

