.row
  .filter_menu
    .col-md-8
      %h4
        = @filter_count
        elected officials meet your search criteria.
        Add more filters to refine your search.
      %button.btn.btn-default
        Federal
        .glyphicon.glyphicon-remove-sign
      %button.btn.btn-danger
        Add Filter
        .glyphicon.glyphicon-plus-sign
    .col-md-4
      %br
      %strong
        = select_tag "Sort", options_for_select(@sort_list),
          class: "form-control",
          id: "rep_sorter"

.row
  %div
    - @reps.each do |rep|
      .directory_block
        = image_tag rep.profile_image_url,
          class: "directory_pic"
        %h4= rep.full_name
        %div= "#{Random.rand(100)}% match"

        %br
        = link_to rep_path(rep.profile_id) do
          %button.btn.btn-sm.btn-default View Profile
        %button.btn.btn-sm.btn-default Follow
