.container
  .col-md-3.hidden-sm
    .news-sidebar
      .news-sort
        %center
          %h4
            Top News for
            = Date.today.strftime("%B")
            = Time.now.day.ordinalize + ","
            = Time.now.year
        %select.form-control.signup-field
          %option Show All News
          %option Show News for Followed Reps Only
        %select.form-control.signup-field
          %option Sort News by Highest Rank
          %option Sort News by Newest
          %option Sort News by Most Read
          %option Sort News by Comment Count
      %center
        %br
        .btn.btn-default
          .glyphicon.glyphicon-calendar{title:"View Historical News"}
          %strong &nbsp Past News
        .btn.btn-default
          .glyphicon.glyphicon-bookmark{title:"View Your Bookmarked Articles"}
          %strong &nbsp Bookmarks
        %br
        %br
        .well
          %h5
            Add Filters to Narrow the News
          .article_count
            Viewing 1,734 articles from
            %a{ href: "https://matchvote.com/publications", title: "Where we retrieve news" }
              87 sources
            %br
            for
            = Date.today.strftime("%B")
            = Time.now.day.ordinalize + ","
            = Time.now.year
            -# Include below only on current day's news
            as of
            = Time.now.strftime("%l:%M%p")

          %hr
          .btn.btn-danger
            %span.glyphicon.glyphicon-plus-sign{title:"Narrow the News"}
            Add Filter
          .btn.btn-default
            %span.glyphicon.glyphicon-minus-sign{title:"Clear All Filters"}
            Clear Filters


  .col-md-9
    %br
    .newscard
      .row
        .btn-group-vertical.news-vote-btn.pull-right
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title:"Newsworthy"}
          .news-vote-count 2743
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title:"Not Newsworthy"}
        .news-title
          %h3 Amid Trump Turmoil, Some Begin Eyeing Mike Pence
          .news-author
            By Linda Qiu at The New York Times
            %span.news-date 5/18/2017 @ 10:33am
          %hr
        .news-summary
          .col-md-7
            .well.featured_image_trigger
              =image_tag "https://media3.s-nbcnews.com/j/newscms/2016_20/1541946/160518-trump-portrait-jsw-145p_1c226e6636be4572928409c157f0d50a.nbcnews-ux-2880-1000.jpg",
                class: "article_featured_image"
              %ul
                %li Mr. Trump contradicted Deputy Attorney General Rod J. Rosenstein and his own earlier statement on firing Mr. Comey.
                %li He misleadingly claimed that ‘everybody, even my enemies, has said there is no collusion.’
                %li Mr. Comey and Sally Q. Yates, the former acting attorney general, two officials with direct knowledge of the investigation, have declined to state whether there is evidence of collusion.
            %center
              .btn.btn-sm.btn-danger
                4 min Read
              .btn.btn-sm.btn-primary
                583 Comments
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-share{title:"Share"}
                Share
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-bookmark{title:"Bookmark Article"}
                Bookmark
          .col-md-5
            .news-mentions
              %center
                %h5 Do you think Mike Pence would make a good President?
                .btn.btn-default.btn-sm
                  .glyphicon.glyphicon-ok-sign
                  Support
                = image_tag "http://data.matchvote.com/images/2015/governors/Mike_Pence.png",
                  class: "img", title: "Mike Pence"
                .btn.btn-default.btn-sm
                  .glyphicon.glyphicon-remove-sign
                  Oppose
              %hr
            .news-topics
              %ul
                %li
                  %a Healthcare
                %li
                  %a Budget
                %li
                  %a Executive Branch

    .newscard
      .row
        .btn-group-vertical.news-vote-btn.pull-right
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title:"Newsworthy"}
          .news-vote-count 1253
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title:"Not Newsworthy"}
        .news-title
          %h3 Montana Democrat closes with health-care message in closely watched congressional race
          .news-author
            By David Weigel at The Washington Post
            %span.news-date 5/19/2017 @ 1:22pm
          %hr
        .news-summary
          .col-md-7
            .well.featured_image_trigger
              =image_tag "http://bloximages.chicago2.vip.townnews.com/mtstandard.com/content/tncms/assets/v3/editorial/d/b5/db5e7aaf-6d23-51f9-a005-49b6c604e152/5920d5b3f1907.image.jpg",
                class: "article_featured_image"
              %ul
                %li The much-anticipated Congressional Budget Office score on the GOP’s American Health Care Act will be released on Wednesday.
                %li One day later, the polls will close in Montana’s special election for the state’s sole House seat, which pits Democratic musician Rob Quist against Republican businessman Greg Gianforte.
                %li Quist, a populist who is campaigning with Sen. Bernie Sanders (I-Vt.) this weekend, has aggressively run against the AHCA, dubbing it a “tax cut for millionaires.”
            %center
              .btn.btn-sm.btn-danger
                8 min Read
              .btn.btn-sm.btn-primary
                283 Comments
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-share{title:"Share"}
                Share
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-bookmark{title:"Bookmark Article"}
                Bookmark
          .col-md-5
            .news-mentions
              %center
                %h5 How do you think the American Health Care Act will affect you?
                .btn.btn-default.btn-sm
                  Positively
                .btn.btn-default.btn-sm
                  Neutral
                .btn.btn-default.btn-sm
                  Negatively
              %hr
            .news-topics
              %ul
                %li
                  %a Healthcare
                %li
                  %a Budget
                %li
                  %a Executive Branch

    .newscard
      .row
        .btn-group-vertical.news-vote-btn.pull-right
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title:"Newsworthy"}
          .news-vote-count 1582
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title:"Not Newsworthy"}
        .news-title
          %h3 Trump Issues Threat to Conservative House Faction
          .news-author
            By Glenn Thrush at The New York Times
            %span.news-date 3/30/2017 @ 9:27am
          %hr
        .news-summary
          .col-md-7
            .well.featured_image_trigger
              =image_tag "https://ssl.cdn.turner.com/cnnnext/dam/assets/170301141317-donald-trump-0228-super-169.jpg",
                class: "article_featured_image"
              %ul
                %li President Trump took to Twitter to say that the Freedom Caucus, a group of the most conservative Republicans in the House, is hurting the party’s agenda.
                %li “We must fight them” in 2018, he said, days after the faction helped kill his health care overhaul, imperiling Mr. Trump’s other priorities.
                %li Over the past few days, Mr. Trump has lurched between battering and buttering up conservatives who killed his health care overhaul in an agenda-scuttling insurrection that imperils his plans for tax reform and a trillion-dollar infrastructure package.
            %center
              .btn.btn-sm.btn-danger
                6 min Read
              .btn.btn-sm.btn-black
                Close Comments
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-share{title:"Share"}
                Share
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-bookmark{title:"Bookmark Article"}
                Bookmark
          .col-md-5
            .news-mentions
              %center
                %h5 Based on this news, what do you think of Donald Trump?
                .btn.btn-default.btn-sm
                  .glyphicon.glyphicon-ok-sign
                  Support
                = image_tag "http://data.matchvote.com/images/2015/highprofile/Donald_Trump.png",
                  class: "img", title: "Donald Trump"
                .btn.btn-default.btn-sm
                  .glyphicon.glyphicon-remove-sign
                  Oppose
              %hr
            .news-topics
              %ul
                %li
                  %a Healthcare
                %li
                  %a Budget
                %li
                  %a Executive Branch
      .news-comments
        .well
          .writecomment
            .row
              .col-md-10
                .form-group
                  %textarea.form-control
                    :preserve
                      Upgrade to matchVote Premium to add your comment
              .col-md-2
                %center
                  .btn.btn-sm.btn-primary.upgradebtn
                    =link_to image_tag(current_user.profile_pic_url, title: "@#{current_user.username}"), path_for_user(current_user), id: "view_profile_link"
                    Upgrade
          %ul
            %li
              %strong
                1,427 Comments
            %li
              Comments will be locked in 45 hours
            %li
              %select.form-control.signup-field
                %option Sort by Most Loved
                %option Sort by Most Replies
                %option Sort by Newest
          .comment
            The Big Tent had become big enough to enclose an idealogical war zone. Now the fighting is spilling outside and everyone nearby is getting sucked into the fight and hurt in the process. All that seems to matter to many is that their side is the eventual winner. I don't know which option is worse. The government grinding to a halt as this fight plays out, or one side 'winning' and railroading their fever dreams through Congress and the White House unopposed.
            %hr
            .commentdetails
              %ul
                %li
                  = image_tag "http://data.matchvote.com/images/2015/highprofile/Barack_Obama.png",
                    class: "img", title: "Barack Obama"
                %li
                  %strong Barack Obama
                %li from DC
                %li
                  = Time.now.strftime("%m/%d/%y")
                  @
                  = Time.now.strftime("%l:%M%p")
                %li &nbsp
                %li
                  .btn.btn-xs.btn-default
                    Report
                  .btn.btn-xs.btn-default
                    Hide Replies
                  .btn.btn-xs.btn-default
                    37
                    .glyphicon.glyphicon-heart
                  .btn.btn-xs.btn-primary
                    Reply
          .comment.reply
            It's like the end of "Jurassic Park," when the tyrannosaurus rescues the heroes from the velociraptors.
            %hr
            .commentdetails
              %ul
                %li
                  = image_tag "http://data.matchvote.com/images/2015/highprofile/Larry_Lessig.png",
                    class: "img", title: "Larry Lessig"
                %li
                  %strong Larry Lessig
                %li from MA
                %li
                  = Time.now.strftime("%m/%d/%y")
                  @
                  = Time.now.strftime("%l:%M%p")
                %li &nbsp
                %li
                  .btn.btn-xs.btn-default
                    Report
                  .btn.btn-xs.btn-default
                    4
                    .glyphicon.glyphicon-heart
                  .btn.btn-xs.btn-primary
                    Reply
          .comment.reply2
            If the President and Mr. Ryan are serious about taking on the factions, they will have to confront gerrymandering as that is how the group exercises a disproportionate influence in the House. Good luck with that!
            %hr
            .commentdetails
              %ul
                %li
                  = image_tag "http://data.matchvote.com/images/2015/senators/Bernard_Sanders.png",
                    class: "img", title: "Bernie Sanders"
                %li
                  %strong Bernie Sanders
                %li from VT
                %li
                  = Time.now.strftime("%m/%d/%y")
                  @
                  = Time.now.strftime("%l:%M%p")
                %li &nbsp
                %li
                  .btn.btn-xs.btn-default
                    Report
                  .btn.btn-xs.btn-default
                    1
                    .glyphicon.glyphicon-heart
                  .btn.btn-xs.btn-primary
                    Reply
          = render "news/comment"
          %center
            .btn.btn-xs.btn-link View 1,424 More Comments
            // This links to An Entirely New View Specific to One Article Default to Maybe 50 Comments Open?
