= image_tag "http://data.matchvote.com/images/2015/governors/Andrew_Cuomo.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Asa_Hutchinson.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Bill_Haslam.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Bill_Walker.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Bobby_Jindal.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Brian_Sandoval.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Bruce_Rauner.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Butch_Otter.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Charlie_Baker.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Chris_Christie.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Dannel_Malloy.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/David_Ige.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Dennis_Daugaard.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Doug_Ducey.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Earl_Ray_Tomblin.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Gary_Herbert.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Gina_Raimondo.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Greg_Abbott.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Jack_Dalrymple.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Jack_Markell.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Jay_Inslee.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Jay_Nixon.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Jerry_Brown.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/John_Hickenlooper.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/John_Kasich.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Kate_Brown.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Larry_Hogan.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Maggie_Hassan.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Mark_Dayton.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Mary_Fallin.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Matt_Mead.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Mike_Pence.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Nathan_Deal.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Nikki_Haley.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Pat_McCrory.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Paul_LePage.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Pete_Ricketts.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Peter_Shumlin.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Phil_Bryant.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Rick_Scott.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Rick_Snyder.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Robert_Bentley.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Sam_Brownback.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Scott_Walker.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Steve_Beshear.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Steve_Bullock.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Susana_Martinez.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Terry_Branstad.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Terry_McAuliffe.png", class: "election_pic"
= image_tag "http://data.matchvote.com/images/2015/governors/Tom_Wolf.png", class: "election_pic"
