%span= image_tag "http://data.matchvote.com/images/2015/highprofile/Barack_Obama.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/highprofile/Jeb_Bush.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/senators/Elizabeth_Warren.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/senators/Marco_Rubio.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/senators/Mitch_McConnell.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/highprofile/Sarah_Palin.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/highprofile/Hillary_Clinton.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/congress/Paul_Ryan.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/congress/Nancy_Pelosi.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/highprofile/Rick_Santorum.png", class: "landing_pic"
%span= image_tag "http://data.matchvote.com/images/2015/highprofile/Al_Gore.png", class: "landing_pic"
