= link_to(image_tag("https://data.matchvote.com/images/2015/highprofile/Donald_Trump.png", class: "landing_pic", title: "Donald Trump"), "/representative/donald-trump")
= link_to(image_tag("https://data.matchvote.com/images/2015/highprofile/Barack_Obama.png", class: "landing_pic", title: "Barack Obama"), "/representative/barack-obama")
= link_to(image_tag("https://data.matchvote.com/images/2015/highprofile/Jeb_Bush.png", class: "landing_pic", title: "Jeb Bush"), "/representative/john-bush")
= link_to(image_tag("https://data.matchvote.com/images/2015/senators/Elizabeth_Warren.png", class: "landing_pic", title: "Elizabeth Warren"), "/representative/elizabeth-warren")
= link_to(image_tag("https://data.matchvote.com/images/2015/senators/Marco_Rubio.png", class: "landing_pic", title: "Marco Rubio"), "/representative/marco-rubio")
= link_to(image_tag("https://data.matchvote.com/images/2015/senators/Mitch_McConnell.png", class: "landing_pic", title: "Mitch McConnell"), "/representative/mitch-mcconnell")
= link_to(image_tag("https://data.matchvote.com/images/2015/highprofile/Sarah_Palin.png", class: "landing_pic", title: "Sarah Palin"), "/representative/sarah-palin")
= link_to(image_tag("https://data.matchvote.com/images/2015/highprofile/Hillary_Clinton.png", class: "landing_pic", title: "Hillary Clinton"), "/representative/hillary-clinton")
= link_to(image_tag("https://data.matchvote.com/images/2015/congress/Paul_Ryan.png", class: "landing_pic", title: "Paul Ryan"), "/representative/paul-ryan")
= link_to(image_tag("https://data.matchvote.com/images/2015/congress/Nancy_Pelosi.png", class: "landing_pic", title: "Nancy Pelosi"), "/representative/nancy-pelosi")
= link_to(image_tag("https://data.matchvote.com/images/2015/highprofile/Al_Gore.png", class: "landing_pic", title: "Al Gore"), "/representative/albert-gore")
