.statement{data: { statement_id: statement.id }}
  .col-md-10
    .stance_card
      .row
        .col-md-6
          %h4= statement.text
        .col-md-3
          %strong Your Stance
          = select_tag "Agreeance", 
            options_for_select(agreeance_values, stance.agreeance_integer_value), 
            class: "form-control", id: "agreeance_#{statement.id}"
        .col-md-3
          %strong Alignment Importance
          = select_tag "Importance", 
            options_for_select(importance_values, stance.importance_integer_value), 
            class: "form-control", id: "importance_#{statement.id}"

  .col-md-2.stance_button
    - if stance.new_record? 
      = render "save_stance_button" 
    - else  
      = render "update_stance_button"

