.row
  .filter_menu
    .col-md-8
      %h3 Where do you stand on the following issues?

    .col-md-4
.row
  .col-md-1
  .col-md-10
    %h2 Issue Category 1
    .stancecard
      .col-md-6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-3
        = select_tag "Agreeance", "<option>Very Strongly Disagree</option><option>Strongly Disagree</option><option>Disagree</option><option>Neutral</option><option>Agree</option><option>Strongly Agree</option><option>Very Strongly Agree</option>".html_safe, multiple: false, class: "form-control"
      .col-md-3
        = select_tag "Importance", "<option>Not Very Important</option><option>Somewhat Important</option><option>Important</option><option>Very Important</option><option>Extremely Important</option>".html_safe, multiple: false, class: "form-control"

    .stancecard
      .col-md-6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-3
        = select_tag "Agreeance", "<option>Very Strongly Disagree</option><option>Strongly Disagree</option><option>Disagree</option><option>Neutral</option><option>Agree</option><option>Strongly Agree</option><option>Very Strongly Agree</option>".html_safe, multiple: false, class: "form-control"
      .col-md-3
        = select_tag "Importance", "<option>Not Very Important</option><option>Somewhat Important</option><option>Important</option><option>Very Important</option><option>Extremely Important</option>".html_safe, multiple: false, class: "form-control"


    %h2 Issue Category 2
    .stancecard
      .col-md-6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-3
        = select_tag "Agreeance", "<option>Very Strongly Disagree</option><option>Strongly Disagree</option><option>Disagree</option><option>Neutral</option><option>Agree</option><option>Strongly Agree</option><option>Very Strongly Agree</option>".html_safe, multiple: false, class: "form-control"
      .col-md-3
        = select_tag "Importance", "<option>Not Very Important</option><option>Somewhat Important</option><option>Important</option><option>Very Important</option><option>Extremely Important</option>".html_safe, multiple: false, class: "form-control"

    .stancecard
      .col-md-6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-3
        = select_tag "Agreeance", "<option>Very Strongly Disagree</option><option>Strongly Disagree</option><option>Disagree</option><option>Neutral</option><option>Agree</option><option>Strongly Agree</option><option>Very Strongly Agree</option>".html_safe, multiple: false, class: "form-control"
      .col-md-3
        = select_tag "Importance", "<option>Not Very Important</option><option>Somewhat Important</option><option>Important</option><option>Very Important</option><option>Extremely Important</option>".html_safe, multiple: false, class: "form-control"
