.container
  %ul.footer-links
    %li.copyright
      &#64
      = Time.now.year
      matchVote, Inc
    %li
      = link_to "About", "http://matchvote.com/about", target:"_blank"
    %li
      = link_to "Careers", "http://matchvote.com/careers", target:"_blank"
    %li
      = link_to "Help", "http://matchvote.com/help", target:"_blank"
    %li
      = link_to "Investors", "http://matchvote.com/investors", target:"_blank"
    %li
      = link_to "Privacy", "http://matchvote.com/privacy", target:"_blank"
    %li
      = link_to "Contact", "http://matchvote.com/contact", target:"_blank"
    %li.madein
      = image_tag "http://data.matchvote.com/images/madeinamerica.png", title: "Made in America"
      %span
        Made in America
