.container
  %hr
  %ul.footer-links
    %li.copyright
      &#64
      = Time.now.year
      matchVote, Inc
    %li
      = link_to "About", "https://matchvote.com/about", target:"_blank"
    %li
      = link_to "Careers", "https://matchvote.com/careers", target:"_blank"
    %li
      = link_to "Help", "https://matchvote.com/help", target:"_blank"
    %li
      = link_to "Investors", "https://matchvote.com/investors", target:"_blank"
    %li
      = link_to "Privacy", "https://matchvote.com/privacy", target:"_blank"
    %li
      = link_to "Contact", "https://matchvote.com/contact", target:"_blank"
    %li.madein
      = link_to "https://matchvote.com/build" do
        = image_tag "https://data.matchvote.com/images/madeinamerica.png", title: "Made in America", target:"_blank"
