.container
  %ul.footer-links
    %li.copyright
      &#64
      = Time.now.year
      matchVote, Inc
    %li
      = link_to "About", root_path
    %li
      = link_to "Careers", root_path
    %li
      = link_to "Help", root_path
    %li
      = link_to "Investors", root_path
    %li
      = link_to "Privacy", root_path
    %li
      = link_to "Contact", root_path
