%header
  %nav.navbar.navbar-fixed-top.hidden-xs
    .navbar-inner
      .container
        %ul.nav.navbar-nav
          = link_to root_path do
            = image_tag "https://data.matchvote.com/images/mv.png",
              class: "mvlogo"
        %ul.nav.navbar-nav.navdrop
          %li
            %a
              %span.navdrop-text= @navbar.resource_formatted
              %span.glyphicon.glyphicon-chevron-down.dropchevron
            %ul
              %li
                = link_to "News", root_path
              %li
                = link_to "Directory", directory_path
              %li
                = link_to "Stances", stances_path
        .nav.navbar-nav.navbar-right
          .pull-left
            .glyphicon.glyphicon-flash.menu-notify-on{title: "2 new notifications"}
            - if user_signed_in?
              = render "layouts/profile_link"
              = link_to destroy_user_session_path, method: :delete do
                .glyphicon.glyphicon-log-out.logout-button{title: "Sign Out"}
            - else
              = link_to new_user_session_path do
                .glyphicon.glyphicon-log-in.logout-button{title: "Sign In"}
