%header
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %ul.nav.navbar-nav
          = link_to root_path do
            = image_tag "http://matchvote.com/wp-content/uploads/2015/01/mv.png",
              class: "mvlogo"
        %ul.nav.navbar-nav.navdrop
          %li
            %a
              %span.navdrop-text Directory
              %span.glyphicon.glyphicon-chevron-down.dropchevron
            %ul
              %li
                = link_to "News", root_path, class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Forum", root_path, class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Directory", root_path
              %li
                = link_to "Elections", root_path, class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Stances", stances_path
        %ul.nav.navbar-nav.navbar-right
          %span.pull-left
            = link_to edit_user_registration_path(current_user) do
              = image_tag "http://bradhankins.com/wp-content/uploads/2014/10/brad.jpg",
                class: "navbar_pic"
          %li
            = link_to "@#{current_user.username}",
              edit_user_registration_path(current_user)
          %li
            = link_to "Sign  out", destroy_user_session_path, method: :delete
