%header
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %ul.nav.navbar-nav
          = link_to root_path do
            = image_tag "http://matchvote.com/wp-content/uploads/2015/01/mv.png",
              class: "mvlogo"
        %ul.nav.navbar-nav.navdrop
          %li
            %a
              %span.navdrop-text Directory
              %span.glyphicon.glyphicon-chevron-down.dropchevron
            %ul
              %li
                = link_to "News", root_path, class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Forum", root_path, class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Directory", root_path
              %li
                = link_to "Elections", root_path, class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Stances", stances_path
              %li
                = link_to "Profile", edit_user_registration_path(current_user)
        .nav.navbar-nav.navbar-right
          .pull-left
            .glyphicon.glyphicon-flash.menu-notify-on{title: "2 new notifications"}
            = link_to edit_user_registration_path(current_user) do
              = image_tag "http://data.matchvote.com/images/2015/highprofile/Barack_Obama.png",
                class: "navbar_pic", title: "@#{current_user.username}"
            = link_to destroy_user_session_path, method: :delete do
              .glyphicon.glyphicon-log-out.logout-button{title: "Sign Out"}
