%header
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %ul.nav.navbar-nav
          = link_to root_path do
            = image_tag "http://matchvote.com/wp-content/uploads/2015/01/mv.png",
              class: "mvlogo"
        %ul.nav.navbar-nav.navdrop
          %li
            %a
              %span.navdrop-text Directory
              %span.glyphicon.glyphicon-chevron-down.dropchevron
            %ul
              %li
                = link_to "News", news_index_path
              %li
                = link_to "Forum", root_path,
                  class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Directory", root_path
              %li
                = link_to "Elections", elections_path,
                  class: "comingsoon"
              %li
                = link_to "Townhall", root_path,
                  class: "comingsoon", title: "Coming Soon"
              %li
                = link_to "Stances", stances_path
        .nav.navbar-nav.navbar-right
          .pull-left
            .glyphicon.glyphicon-flash.menu-notify-on{title: "2 new notifications"}
            = render "layouts/profile_link"
            = link_to destroy_user_session_path, method: :delete do
              .glyphicon.glyphicon-log-out.logout-button{title: "Sign Out"}
