!!! 5
%html
  %head
    %title matchVote
    = stylesheet_link_tag "application", media: "all", data: { "turbolinks-track" => true }
    = javascript_include_tag "application", data: { "turbolinks-track" => true }
    = csrf_meta_tags
    = favicon_link_tag "http://matchvote.com/wp-content/uploads/2015/01/favicon.gif"

  %body{class: set_body_class(controller_name, action_name)}
    - if user_signed_in?
      = render "layouts/header"
    .container
      - flash.each do |key, value|
        - alert_type = flash_type(key)
        :coffee
          if "#{value}".length or "#{key}" is not "timedout"
            sweetAlert "", "#{value}", "#{alert_type}"
      = yield
    = render "layouts/footer"
