%h3 Personal Info
= f.fields_for :personal_info, OpenStruct.new(f.object.personal_info) do |pi|
  %div
    = pi.text_field :first_name,
      class: ["form-control", "signup-field"],
      placeholder: "First Name"
  %div
    = pi.text_field :last_name,
      class: ["form-control", "signup-field"],
      placeholder: "Last Name"
  .row#birthdayPicker
    .col-md-4
      %select.form-control.signup-field{name: "Birthday"}
        %option{:placeholder => 'true'} Birth Month
        %option{:value => 'January'} January
        %option{:value => 'February'} February
        %option{:value => 'March'} March
        %option{:value => 'April'} April
        %option{:value => 'May'} May
        %option{:value => 'June'} June
        %option{:value => 'July'} July
        %option{:value => 'August'} August
        %option{:value => 'September'} September
        %option{:value => 'October'} October
        %option{:value => 'November'} November
        %option{:value => 'December'} December
    .col-md-4
      %select.form-control.signup-field{name: "Birthday"}
        %option{:placeholder => 'true'} Birthday
        %option{:value => '1'} 1
        %option{:value => '2'} 2
        %option{:value => '3'} 3
        %option{:value => '4'} 4
        %option{:value => '5'} 5
        %option{:value => '6'} 6
        %option{:value => '7'} 7
        %option{:value => '8'} 8
        %option{:value => '9'} 9
        %option{:value => '10'} 10
        %option{:value => '11'} 11
        %option{:value => '12'} 12
        %option{:value => '13'} 13
        %option{:value => '14'} 14
        %option{:value => '15'} 15
        %option{:value => '16'} 16
        %option{:value => '17'} 17
        %option{:value => '18'} 18
        %option{:value => '19'} 19
        %option{:value => '20'} 20
        %option{:value => '21'} 21
        %option{:value => '22'} 22
        %option{:value => '23'} 23
        %option{:value => '24'} 24
        %option{:value => '25'} 25
        %option{:value => '26'} 26
        %option{:value => '27'} 27
        %option{:value => '28'} 28
        %option{:value => '29'} 29
        %option{:value => '30'} 30
        %option{:value => '31'} 31
    .col-md-4
      %select.form-control.signup-field{name: "Birthday"}
        %option{:placeholder => 'true'} Birth Year
        %option{:value => '2005'} 2005
        %option{:value => '2004'} 2004
        %option{:value => '2003'} 2003
        %option{:value => '2002'} 2002
        %option{:value => '2001'} 2001
        %option{:value => '2000'} 2000
        %option{:value => '1999'} 1999
        %option{:value => '1998'} 1998
        %option{:value => '1997'} 1997
        %option{:value => '1996'} 1996
  .row
    .col-md-6
      = pi.select :gender, options_for_select(f.object.genders),
        { include_blank: "Gender" },
        class: ["form-control", "signup-field"],
        placeholder: "Gender"
    .col-md-6
      = pi.select :ethnicity, options_for_select(f.object.ethnicities),
        { include_blank: "Ethnicity" },
        class: ["form-control", "signup-field"],
        placeholder: "Ethnicity"
  .row
    .col-md-6
      = pi.select :party, options_for_select(f.object.parties),
        { include_blank: "Political Party" },
        class: ["form-control", "signup-field"],
        placeholder: "Party"
    .col-md-6
      = pi.select :education, options_for_select(f.object.education_levels),
        { include_blank: "Education" },
        class: ["form-control", "signup-field"],
        placeholder: "Education"
  .row
    .col-md-6
      = pi.select :religion, options_for_select(f.object.religions),
        { include_blank: "Religion" },
        class: ["form-control", "signup-field"],
        placeholder: "Religion"
    .col-md-6
      = pi.select :relationship, options_for_select(f.object.relationships),
        { include_blank: "Relationship" },
        class: ["form-control", "signup-field"],
        placeholder: "Relationship"

