#edit_stances
  - presenter.issues.each do |issue|
    %h3= issue.name.titleize

    - presenter.stances_for_issue(issue).each do |stance|
      .row
        .col-md-12
          %h5= stance.statement.text
      .row#stance{data: { stance_id: stance.id }}
        .col-md-4
          %strong Your Stance
          = select_tag "Agreeance", 
            options_for_select(Stance.agreeance_values, stance.agreeance_value), 
            class: "form-control", id: "agreeance_#{stance.id}"
        .col-md-4
          %strong Alignment Importance
          = select_tag "Importance", 
            options_for_select(Stance.importance_values, stance.importance_value), 
            class: "form-control", id: "importance_#{stance.id}"
        .col-md-3.edit_stance_button
          = render "stances/update_stance_button", stance: stance
