.col-md-8
  .whitecard
    %h2= current_user.username

  .whitecard
    %h2 Privacy Settings

  .whitecard
    %h2 Edit Stances
    - if @stances_presenter.has_stances?
      = render "stances", presenter: @stances_presenter
    - else
      You have no stances to edit.

.col-md-4
  .whitecard
    %h4 Edit Email & Password
    = form_for(resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put }) do |f|
      = devise_error_messages!

      %div= f.label :email
      = f.email_field :email, class: "form-control", autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div "Currently waiting confirmation for: #{resource.unconfirmed_email}"
      %br

      %div
        = f.label :new_password
        %br
        = f.password_field :password, class: "form-control", autocomplete: "off"
        %br

      %div
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"
        %br

      %div
        = f.label :current_password
        %br
        = f.password_field :current_password, class: "form-control", autocomplete: "off"
      %br
      %div= f.submit "Update", class: ["btn", "btn-primary"]

  .well
    %h3 Cancel My Account
    %br
    %div
      = button_to "Cancel my account", registration_path(resource_name),
        data: { confirm: "Are you sure?" }, 
        method: :delete, 
        class: ["btn", "btn-danger"]

