%br
%center
  %button.btn.btn-sm.btn-default.pull-right View Public Profile
  %h1 Everything we have about you and your political views.
%br
.col-md-8
  .whitecard
    %h2 @#{current_user.username}
    %hr
    .container
      .col-md-3
        %div Name:
        %div Gender:
        %div Birthday:
        %div Party:
        %div Religion:
      .col-md-5
        %div Phone:
        %div Address:
        %div City:
        %div State:
        %div ZIP:

  .whitecard
    %h2 Edit Saved Stances
    %hr
    - if @stances_presenter.has_stances?
      = render "stances", presenter: @stances_presenter
    - else
      You haven't saved any stances yet.
      = link_to "Click here add your political stances.", stances_path

.col-md-4
  .whitecard
    %h2 Email & Password
    %hr
    = form_for(resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put }) do |f|
      = devise_error_messages!

      %div= f.label "Update Email"
      = f.email_field :email, class: "form-control", autofocus: false
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div "Currently waiting confirmation for: #{resource.unconfirmed_email}"
      %br

      %div
        = f.label :new_password
        %br
        = f.password_field :password, class: "form-control", autocomplete: "off"
        %br

      %div
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"
        %br

      %div
        = f.label :current_password
        %br
        = f.password_field :current_password, class: "form-control", autocomplete: "off"
      %br
      %div= f.submit "Update", class: ["btn", "btn-primary"]

  .whitecard
    %h2 Privacy Settings
    %hr
    %span
      By default, we don't publicly share any of your personally identifiable information. Some of your data is sent to third parties, but it never contains your name, contact information, or anything else that would indicate who you are. If you want to allow other users on matchVote to see your political views, you can do so by editing your privacy settings.
      %a More info
    %br
    %br
    .btn.btn-primary Edit Privacy

  .whitecard
    %h2 Cancel Account
    %hr
    %span
      Canceling your account will permanently remove all of your personal information from matchVote. However, some non-identifiable polling data that is based on your account activity is still retained.
      %a More info
    %br
    %br
    %div
      = button_to "Cancel Account", registration_path(resource_name),
        data: { confirm: "Are you sure?" },
        method: :delete,
        class: ["btn", "btn-danger"]
