%br
%center
  %h1 Edit your profile and political stances.
%br
.col-md-7
  .whitecard
    %form
      %h3 Personal Info
      .row
        .col-md-6
          %input.form-control.signup-field{placeholder: "First Name"}
        .col-md-6
          %input.form-control.signup-field{placeholder: "Last Name"}
      .row
        .col-md-4
          %select.form-control.signup-field{name: "Birthday"}
            %option{:placeholder => 'true'} Birth Month
            %option{:value => 'January'} January
            %option{:value => 'February'} February
            %option{:value => 'March'} March
            %option{:value => 'April'} April
            %option{:value => 'May'} May
            %option{:value => 'June'} June
            %option{:value => 'July'} July
            %option{:value => 'August'} August
            %option{:value => 'September'} September
            %option{:value => 'October'} October
            %option{:value => 'November'} November
            %option{:value => 'December'} December
        .col-md-4
          %select.form-control.signup-field{name: "Birthday"}
            %option{:placeholder => 'true'} Birthday
            %option{:value => '1'} 1
            %option{:value => '2'} 2
            %option{:value => '3'} 3
            %option{:value => '4'} 4
            %option{:value => '5'} 5
            %option{:value => '6'} 6
            %option{:value => '7'} 7
            %option{:value => '8'} 8
            %option{:value => '9'} 9
            %option{:value => '10'} 10
            %option{:value => '11'} 11
            %option{:value => '12'} 12
            %option{:value => '13'} 13
            %option{:value => '14'} 14
            %option{:value => '15'} 15
            %option{:value => '16'} 16
            %option{:value => '17'} 17
            %option{:value => '18'} 18
            %option{:value => '19'} 19
            %option{:value => '20'} 20
            %option{:value => '21'} 21
            %option{:value => '22'} 22
            %option{:value => '23'} 23
            %option{:value => '24'} 24
            %option{:value => '25'} 25
            %option{:value => '26'} 26
            %option{:value => '27'} 27
            %option{:value => '28'} 28
            %option{:value => '29'} 29
            %option{:value => '30'} 30
            %option{:value => '31'} 31
        .col-md-4
          %select.form-control.signup-field{name: "Birthday"}
            %option{:placeholder => 'true'} Birth Year
            %option{:value => '2005'} 2005
            %option{:value => '2004'} 2004
            %option{:value => '2003'} 2003
            %option{:value => '2002'} 2002
            %option{:value => '2001'} 2001
            %option{:value => '2000'} 2000
            %option{:value => '1999'} 1999
            %option{:value => '1998'} 1998
            %option{:value => '1997'} 1997
            %option{:value => '1996'} 1996
      .row
        .col-md-6
          %select.form-control.signup-field{name: "Gender"}
            %option{:placeholder => 'true'} Gender
            %option{:value => 'Female'} Female
            %option{:value => 'Male'} Male
            %option{:value => 'Other'} Other
        .col-md-6
          %select.form-control.signup-field{name: "Ethnicity"}
            %option{:placeholder => 'true'} Ethnicity
            %option{:value => 'White'} White
            %option{:value => 'Hispanic'} Hispanic
            %option{:value => 'Black'} Black
            %option{:value => 'Asian'} Asian
            %option{:value => 'Native'} Native
            %option{:value => 'Mixed'} Mixed
            %option{:value => 'Other'} Other
      .row
        .col-md-6
          %select.form-control.signup-field{name: "Party"}
            %option{:placeholder => 'true'} Political Party
            %option{:value => 'No Affiliation'} No Affiliation
            %option{:value => 'Democrat'} Democrat
            %option{:value => 'Republican'} Republican
            %option{:value => 'Independent'} Independent
            %option{:value => 'Libertarian'} Libertarian
            %option{:value => 'Green'} Green
            %option{:value => 'Constitution'} Constitution
            %option{:value => 'Other'} Other
        .col-md-6
          %select.form-control.signup-field{name: "Education"}
            %option{:placeholder => 'true'} Education
            %option{:value => 'Middle School'} Middle School
            %option{:value => 'Some High School'} Some High School
            %option{:value => 'High School Graduate'} High School Diploma
            %option{:value => 'Some College'} Some College
            %option{:value => 'College Degree'} College Degree
            %option{:value => 'Masters Degree'} Masters Degree
            %option{:value => 'Professional Degree'} Professional Degree
      .row
        .col-md-6
          %select.form-control.signup-field{name: "Religion"}
            %option{:placeholder => 'true'} Religion
            %option{:value => 'No Affiliation'} No Affiliation
            %option{:value => 'Protestant'} Protestant
            %option{:value => 'Catholic'} Catholic
            %option{:value => 'Christian'} Christian (other)
            %option{:value => 'Agnostic'} Agnostic
            %option{:value => 'Atheist'} Atheist
            %option{:value => 'Jewish'} Jewish
            %option{:value => 'Muslim'} Muslim
            %option{:value => 'Buddhist'} Buddhist
            %option{:value => 'Hindu'} Hindu
            %option{:value => 'Other'} Other
        .col-md-6
          %select.form-control.signup-field{name: "Relationship"}
            %option{:placeholder => 'true'} Relationship
            %option{:value => 'Single'} Single
            %option{:value => 'Married'} Married
            %option{:value => 'Widowed'} Widowed
            %option{:value => 'Divorced'} Divorced
            %option{:value => 'Separated'} Separated
            %option{:value => 'Other'} Other
      .row
        .col-md-12
          %center
            %textarea.form-control{:placeholder => '200 words about yourself', :rows => '5'}
    %hr
    %center
      %button.btn.btn-primary Update
  .whitecard
    %form
      %h3 Contact Info
      .row
        .col-md-6
          %input.form-control.signup-field{placeholder: "Phone"}
        .col-md-6
          %input.form-control.signup-field{placeholder: "Twitter"}
      %input.form-control.signup-field{placeholder: "Address"}
      .row
        .col-md-6
          %input.form-control.signup-field{placeholder: "City"}
        .col-md-2
          %select.form-control.signup-field{name: "State"}
            %option{:placeholder => 'true'} State
        .col-md-4
          %input.form-control.signup-field{placeholder: "Zip Code"}
      %hr
    %center
      %button.btn.btn-primary Update


  .whitecard
    %h2 Edit Saved Stances
    %hr
    - if @stances_presenter.has_stances?
      = render "stances", presenter: @stances_presenter
    - else
      You haven't saved any stances yet.
      = link_to "Click here add your political stances", stances_path

.col-md-5
  .whitecard
    %h3 Profile Pic & Username
    %hr
    .row
      .col-md-4
        %center
          = image_tag "http://bradhankins.com/wp-content/uploads/2014/10/brad.jpg",
              class: "edit_pic", title: "Change Profile Pic"
        %center
          .btn.btn-sm.btn-link Upload New
      .col-md-8
        %input.form-control.signup-field{placeholder: "@#{current_user.username}"}
        %br
        %center
          .btn.btn-primary.pull-right Update
  .whitecard
    %h3 Email & Password
    %hr
    = form_for(resource, as: resource_name, url: registration_path(resource_name),
      html: { method: :put }) do |f|
      = devise_error_messages!

      %div= f.label "Update Email"
      = f.email_field :email, class: "form-control", autofocus: false
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div "Currently waiting confirmation for: #{resource.unconfirmed_email}"
      %br

      %div
        = f.label :new_password
        %br
        = f.password_field :password, class: "form-control", autocomplete: "off"
        %br

      %div
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"
        %br

      %div
        = f.label :current_password
        %br
        = f.password_field :current_password, class: "form-control", autocomplete: "off"
      %br
      %center= f.submit "Update", class: ["btn", "btn-primary"]

  .whitecard
    .row
    %h2 Privacy Settings
    %hr
    %span
      By default, we don't publicly share any of your personally identifiable
      information. Some data is sent to third parties, but it never contains
      your name, contact information, or anything that would indicate who you are.
      To allow other users on matchVote to see more about you and your political
      views, you'll need to edit your Privacy Settings.
    %br
    %br
    %center
      .btn.btn-primary Edit Privacy

  .whitecard
    %h2 Cancel Account
    %hr
    %span
      Canceling your account will permanently remove all of your personal
      information from matchVote. However, some non-identifiable polling data
      from your account activity is still retained.
      %a More About Our Data Policies
    %br
    %br
    %center= button_to "Cancel Account", registration_path(resource_name),
        data: { confirm: "Are you sure?" },
        method: :delete,
        class: ["btn", "btn-danger"]
