= render "layouts/preloginheader"
.form-group.col-md-4.col-md-offset-4
  .row
    %h1 Join matchVote
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      %h3 Account Info
      %div= f.text_field :username, class: "form-control signup-field", autofocus: true, placeholder: "Username"
      %div= f.email_field :email, class: "form-control signup-field", placeholder: "Email"
      .row
        .col-md-6
          = f.password_field :password, class: "form-control signup-field", autocomplete: "off", placeholder: "Password"
          - if @validatable
            %center
              %i Minimum of #{@minimum_password_length} characters
        .col-md-6
          = f.password_field :password_confirmation, class: "form-control signup-field", autocomplete: "off",
            placeholder: "Confirm Password"
      -# %div
        -# = f.check_box :rep_admin
        -# = f.label "I am an Elected Official"
      -# %div= f.text_field :rep_name, class: "form-control signup-field", placeholder: "Representative Name"
    %hr
    .row
      %h3 Personal Info
      %div
        %input.form-control.signup-field{placeholder: "First Name"}
      %div
        %input.form-control.signup-field{placeholder: "Last Name"}
      .row
        .col-md-4
          %select.form-control.signup-field{name: "Birthday"}
            %option{:placeholder => 'true'} Birth Month
            %option{:value => 'January'} January
            %option{:value => 'February'} February
            %option{:value => 'March'} March
            %option{:value => 'April'} April
            %option{:value => 'May'} May
            %option{:value => 'June'} June
            %option{:value => 'July'} July
            %option{:value => 'August'} August
            %option{:value => 'September'} September
            %option{:value => 'October'} October
            %option{:value => 'November'} November
            %option{:value => 'December'} December
        .col-md-4
          %select.form-control.signup-field{name: "Birthday"}
            %option{:placeholder => 'true'} Birthday
            %option{:value => '1'} 1
            %option{:value => '2'} 2
            %option{:value => '3'} 3
            %option{:value => '4'} 4
            %option{:value => '5'} 5
            %option{:value => '6'} 6
            %option{:value => '7'} 7
            %option{:value => '8'} 8
            %option{:value => '9'} 9
            %option{:value => '10'} 10
            %option{:value => '11'} 11
            %option{:value => '12'} 12
            %option{:value => '13'} 13
            %option{:value => '14'} 14
            %option{:value => '15'} 15
            %option{:value => '16'} 16
            %option{:value => '17'} 17
            %option{:value => '18'} 18
            %option{:value => '19'} 19
            %option{:value => '20'} 20
            %option{:value => '21'} 21
            %option{:value => '22'} 22
            %option{:value => '23'} 23
            %option{:value => '24'} 24
            %option{:value => '25'} 25
            %option{:value => '26'} 26
            %option{:value => '27'} 27
            %option{:value => '28'} 28
            %option{:value => '29'} 29
            %option{:value => '30'} 30
            %option{:value => '31'} 31
        .col-md-4
          %select.form-control.signup-field{name: "Birthday"}
            %option{:placeholder => 'true'} Birth Year
            %option{:value => '2005'} 2005
            %option{:value => '2004'} 2004
            %option{:value => '2003'} 2003
            %option{:value => '2002'} 2002
            %option{:value => '2001'} 2001
            %option{:value => '2000'} 2000
            %option{:value => '1999'} 1999
            %option{:value => '1998'} 1998
            %option{:value => '1997'} 1997
            %option{:value => '1996'} 1996
      .row
        .col-md-6
          %select.form-control.signup-field{name: "Gender"}
            %option{:placeholder => 'true'} Gender
            %option{:value => 'Female'} Female
            %option{:value => 'Male'} Male
            %option{:value => 'Other'} Other
        .col-md-6
          %select.form-control.signup-field{name: "Ethnicity"}
            %option{:placeholder => 'true'} Ethnicity
            %option{:value => 'White'} White
            %option{:value => 'Hispanic'} Hispanic
            %option{:value => 'Black'} Black
            %option{:value => 'Asian'} Asian
            %option{:value => 'Native'} Native
            %option{:value => 'Mixed'} Mixed
            %option{:value => 'Other'} Other
      .row
        .col-md-6
          %select.form-control.signup-field{name: "Party"}
            %option{:placeholder => 'true'} Political Party
            %option{:value => 'No Affiliation'} No Affiliation
            %option{:value => 'Democrat'} Democrat
            %option{:value => 'Republican'} Republican
            %option{:value => 'Independent'} Independent
            %option{:value => 'Libertarian'} Libertarian
            %option{:value => 'Green'} Green
            %option{:value => 'Constitution'} Constitution
            %option{:value => 'Other'} Other
        .col-md-6
          %select.form-control{name: "Education"}
            %option{:placeholder => 'true'} Education
            %option{:value => 'Middle School'} Middle School
            %option{:value => 'Some High School'} Some High School
            %option{:value => 'High School Graduate'} High School Diploma
            %option{:value => 'Some College'} Some College
            %option{:value => 'College Degree'} College Degree
            %option{:value => 'Masters Degree'} Masters Degree
            %option{:value => 'Professional Degree'} Professional Degree
        .col-md-6
          %select.form-control.signup-field{name: "Religion"}
            %option{:placeholder => 'true'} Religion
            %option{:value => 'No Affiliation'} No Affiliation
            %option{:value => 'Protestant'} Protestant
            %option{:value => 'Catholic'} Catholic
            %option{:value => 'Christian'} Christian (other)
            %option{:value => 'Agnostic'} Agnostic
            %option{:value => 'Atheist'} Atheist
            %option{:value => 'Jewish'} Jewish
            %option{:value => 'Muslim'} Muslim
            %option{:value => 'Buddhist'} Buddhist
            %option{:value => 'Hindu'} Hindu
            %option{:value => 'Other'} Other
    %hr
    .row
      %h3 Contact Info
      %input.form-control.signup-field{placeholder: "Phone"}
      %input.form-control.signup-field{placeholder: "Twitter"}
      %input.form-control.signup-field{placeholder: "Address"}
      %input.form-control.signup-field{placeholder: "City"}
      .row
        .col-md-6
          %select.form-control.signup-field{name: "State"}
            %option{:placeholder => 'true'} State
        .col-md-6
          %input.form-control.signup-field{placeholder: "Zip Code"}
    %hr
    .row
      %h3 Upload Profile Pic
      %div
        = f.file_field :profilepic
    .row
      %hr
      %center
        %div= f.submit "Create Account", class: "btn btn-primary"
