= render "layouts/preloginheader"
.form-group.col-md-4.col-md-offset-4
  .row
    %h1 Join matchVote
  = form_for(@signup_form, 
    as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      %h3 Account Info
      %div= f.text_field :username, 
        class: "form-control signup-field", 
        autofocus: true, 
        placeholder: "Username"
      %div= f.email_field :email, 
        class: "form-control signup-field", 
        placeholder: "Email"
      .row
        .col-md-6
          = f.password_field :password, 
            class: "form-control signup-field", 
            autocomplete: "off", 
            placeholder: "Password"
          - if @validatable
            %center
              %i Minimum of #{@minimum_password_length} characters
        .col-md-6
          = f.password_field :password_confirmation, 
            class: "form-control signup-field", 
            autocomplete: "off",
            placeholder: "Confirm Password"
    %hr
    .row= render "personal_info", f: f
    %hr
    .row= render "contact_info", f: f, form: @signup_form
    %hr
    .row
      %h3 Upload Profile Pic
      %div= f.file_field :profilepic
    .row
      %hr
      %center
        %div= f.submit "Create Account", class: "btn btn-primary"

